/* Precode Settings */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    color: white;
    font-family: helvetica;
    overflow-x: hidden;
    line-height: 4vh;
}

ul{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

.flex{
    display: flex;
}


/* Utility Classes */

/* Landing Page */
.landingPage{
    width: 100vw;
    height: 100vh;
    background-color: rgb(62, 53, 191);
    background-image: url(./assets/pageOneBackground.png);
    background-size: cover;
    background-position: center;
}

.header{
    height: 10vh;
}

.navigationList{
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding-top: 6vh;
}

.landingPageContent{
    width: 100vw;
    height: calc(100vh - 10vh);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}

.landingPageContent :nth-child(3){
    text-align: center;
    width: 40vw;
}

.landingPage h1{
    font-size: 3rem;
}

.landingPageButton{
    margin-top: 7vh;
    border: none;
    width: 10vw;
    height: 6vh;
    border-radius: 10px;
    background-color: #482be7;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.landingPageButton:hover{
    transform: scale(1.10);
}

.navItems{
    transition: all 0.3s ease-in-out;
}

.navItems:hover{
    transform: translateY(-5px);
}

/* Content Page */
.contentPage{
    height: 60vh;
    width: 100vw;
    background-image: url(./assets/contentPageImage.png);
    background-size: cover;
    overflow-x: hidden;
    background-color:  rgb(62, 53, 191);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.contentPageData{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    line-height: 5vh;
}

.contentPageData h1{
    font-size: 3rem;
}

.contentPageData :nth-child(3){
    width: 50vw;
}

/* Features Page */
.featuresPage{
    width: 100vw;
    height: 100vh;
    background-image: url(./assets/featuresImage.png);
    background-color: #482be7;
}

.leftData{
    width: 35vw;
    justify-content: center;
    align-items: center;
}

.rightData{
    width: 65vw;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}

.laptopImage{
    transform: translateX(-70px);
    height: 60vh;
}

.topArticle{
    width: 40vw;
}

.leftArticle, .rightArticle{
    width: 20vw;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
    align-items: flex-start;
}

/* Form Section */
.formSection{
    width: 100vw;
    height: 100vh;
    background-image: url(./assets/formBackground.png);
    background-color: #482be7;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.leftSideFormSection{
    width: 50vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    text-align: center;
    padding-inline: 3vw;
}

.leftSideFormSection h1{
    line-height: 2.5rem;
}

.rightForm{
    width: 50vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.form{
    width: 30vw;
    height: 70vh;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    gap: 2vh;
    border: none;
    border-radius: 3vw;
    transition: all 0.3s ease-in-out;
}

.form:hover{
    transform: scale(1.10);
}

.emailField, .passwordField{
    width: 80%;
    height: 8vh;
    border-radius: 10px;
    border: 0.5px solid black;
    text-align: center;
}

.createAccountButton, .twitterLoginButton{
    width: 13vw;
    height: 7vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.createAccountButton:hover{
    background-color: #37d8c5;
}

.createAccountButton{
    background-color: #26c9b6;
    color: white;
    margin-top: 2vw;
    transition: all 0.3s ease-in-out;
}

.twitterLoginButton:hover{
    background-color: #1fa2f4;
}

.twitterLoginButton{
    transition: all 0.3s ease-in-out;
    background-color: #1f96de;
    color: white;
}

/* Testimonial Section */
.testimonialPage{
    width: 100vw;
    height: 100vh;
    background-color: #1e0e62;
    background-image: url(./assets/pageOneBackground.png);
}

.topTestimonialData{
    text-align: center;
    height: 10vh;
    padding: 2vw;
}

.bottomTestimonialData{
    height: calc(100vh - 10vh);
    flex-wrap: wrap;
    column-gap: 6vw;
    row-gap: 2vw;
    justify-content: center;
    align-items: center;
}

.testimonialImages{
    width: 30vw;
    height: 30vh;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.testimonialImages:hover{
    transform: scale(1.10);
    box-shadow: 1px 1px 2px black;
}

/* Call to action page */
.callToActionPage{
    line-height: 2.5rem;
    text-align: center;
    height: 60vh;
    width: 100vw;
    background-image: url(./assets/callToActionBackground.png);
    background-color: #482be7;
}

.callToActionData{
    padding-block: 3vh;
    flex-direction: column;
    gap: 4vh;
}

.getStartedButton{
    background-color: #21c4b1;
    width: 13vw;
    height: 7vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    margin-inline: auto;
    transition: all 0.3s ease-in-out;
}

.getStartedButton:hover{
    transform: scale(1.10);
    border-radius: 10px;
}

.callToActionPara{
    width: 30vw;
    margin-inline: auto;
    line-height: 2rem;
}

/* Show Case Section */
.showCaseSection{
    width: 100vw;
    height: 100vh;
    background-image: url(./assets/featuresImage.png);
    background-color: #482be7;
}

.showCaseImages{
    width: 25vw;
    height: 40vh;
    transition: all 0.3s ease-in-out;
}

.showCaseImages:hover{
    transform: scale(1.05);
}

.topShowCaseData{
    padding: 2vw;
    justify-content: space-around;
    align-items: center;
}

.bottomShowCaseData{
    flex-wrap: wrap;
    column-gap: 13vw;
    row-gap: 2vw;
    justify-content: center;
    align-items: center;
}

.showCaseSectionButton{
    background-color: transparent;
    width: 9vw;
    height: 5.5vh;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

/* Team Section */
.teamSection{
    width: 100vw;
    height: 100vh;
    background-color: #1e0e62;
}

.topTeamSectionData{
    padding: 2vw;
    flex-direction: column;
    gap: 5vh;
}

.bottomTeamSectionData{
    height: calc(100vh - 15vh);
    padding: 2vw;
    flex-wrap: wrap;
    gap: 6vw;
}

.teamImage{
    cursor: pointer;
    width: 10vw;
    height: 25vh;
}

.teamImage3{
    margin-right: 40vw;
}